<clr-main-container>
  <clr-header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="users"></clr-icon>
        <span class="title">ระบบจองห้องประชุม</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{ fullName }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>ข้อมูลผู้ใช้งาน</a>
          <a href="..." clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      ...
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./home">
        <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
        หน้าแรก
      </a>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
        ห้องประชุม
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
            การจองห้องประชุม
          </a>
          <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
            แสดงแบบเต็มหน้าจอ
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        ตั้งค่าห้องประชุม
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./admin/room" routerLinkActive="active">
            จัดการห้องประชุม
          </a>
          <a clrVerticalNavLink routerLink="./admin/food" routerLinkActive="active">
            จัดการอุปกรณ์
          </a>
          <a clrVerticalNavLink routerLink="./admin/food" routerLinkActive="active">
            จัดการประเภทอาหาร
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="administrator" clrVerticalNavIcon></clr-icon>
        ตั้งค่าผู้ใช้งาน
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./admin/user" routerLinkActive="active">
            จัดการผู้ใช้งานระบบ
          </a>
          <a clrVerticalNavLink routerLink="./admin/role" routerLinkActive="active">
            จัดการสิทธิ์เข้าใช้ระบบ
          </a>
          <a clrVerticalNavLink routerLink="./admin/position" routerLinkActive="active">
            จัดการตำแหน่ง
          </a>
          <a clrVerticalNavLink routerLink="./admin/division" routerLinkActive="active">
            จัดการหน่วยงานกรม/กอง
          </a>
          <a clrVerticalNavLink routerLink="./admin/subdivision" routerLinkActive="active">
            จัดการหน่วยงานกลุ่มงาน/ฝ่าย
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
        รายงาน
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./report/room" routerLinkActive="active">
            รายงานการจองห้องประชุม
          </a>
          <a clrVerticalNavLink routerLink="./report/payment" routerLinkActive="active">
            รายงานค่าใช้จ่าย
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</clr-main-container>
